* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
}


/***** NAVBAR STYLE *****/

nav.navbar {
    background-color: rgba(243, 242, 241, 0.8);
}

nav.navbar .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #0097A7;
    transition: width .3s;
}

nav.navbar .navbar-nav .nav-link:hover::after {
    width: 100%;
}

@media only screen and (max-width: 768px) {
    nav.navbar .navbar-nav .nav-item .nav-link {
        display: inline-block;
    }
    nav.navbar {
        background-color: rgba(243, 242, 241, 1);
    }
}

nav.navbar .navbar-nav a.active .first-let {
    color: #0097A7;
}

nav.navbar .navbar-nav a.active .last-let {
    color: dimgray;
}

nav.navbar .navbar-nav a.active {
    margin: 0 10px;
}

.logo-color {
    color: #0097A7;
}


/***** HEADER STYLE *****/

.header {
    background: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.01)), url(images/header.jpg) center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 880px;
    margin-bottom: 50px;
    text-align: center;
}

#header-title {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 180%;
    color: #C5A86B;
}

.bar {
    color: #0097A7;
    opacity: 0.4;
}


/***** BOUNCING DOWN ICON *****/

.ion-chevron-down {
    font-size: 150%;
    color: #00BCD4;
    position: absolute;
}

.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@-webkit-keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}


/***** SECTIONS STYLE *****/

#about,
#skills,
#projects,
#contact {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 100px;
}

.section-title {
    border-bottom: 3px solid #00BCD4;
    display: inline-block;
    width: auto; 
    margin: 0 auto;
    margin-bottom: 80px;
    padding-bottom: 7px;
}

#about-description {
    margin-bottom: 50px;
    line-height: 30px;
}

#skills {
    max-width: 700px;
}

.skill-icons {
    margin-bottom: 60px;
}

@media only screen and (max-width: 768px) {
    .skill-icons {
        max-width: 80%;
    }
}

#html-logo {
    color: rgb(222, 53, 20);
}
#css-logo {
    color: rgb(22, 74, 161);
}
#js-logo {
    color: rgb(206, 176, 21);
}
#bootstrap-logo {
    color: rgb(78, 25, 120);
}
#jquery-logo {
    color: rgb(0, 101, 178);
}
#vue-logo {
    color: rgb(50, 174, 110);
}
#ps-logo {
    color: rgb(36, 188, 251);
}

.skill-description {
    font-size: 110%;
}

#projects, #contact {
    height: 1500px;
}

/***** PARALLAX *****/

.parallax1 {
    background: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.1)), url(images/mona-eendra-97763.jpg);
}

.parallax2 {
    background: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.1)), url(images/parallax2.jpg);
}

.parallax3 {
    background: linear-gradient(rgba(245, 245, 245, 0.8), rgba(245, 245, 245, 0.1)), url(images/parallax3.jpg);
}

.parallax1, .parallax2, .parallax3 {
    height: 450px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-text1, .parallax-text2, .parallax-text3 {
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
    max-width: 500px;
    padding: 10px;
    color: #FFFFFF;
    
}

.parallax-text1{
    background-color: #FF4081;
}

.parallax-text2 {
    background-color: #B2EBF2;
}

.parallax-text3 {
    background-color: blueviolet;
}

@media only screen and (max-width: 1024px) {
    .parallax1, .parallax2, .parallax3 {
        background-attachment: scroll;
    }
}

@media only screen and (max-width: 768px) {
    .parallax-text1, .parallax-text2, .parallax-text3 {
        max-width: 90%;
    }
}
